/*
!/.gitignore
!/scripts/

!/README.md
!/.gitconfig
!/.myshrc
!/.Xmodmaprc
!/.xmodmaprc
!/.tmux.conf.local.local
!/.compton.conf
!/Microsoft.PowerShell_profile.ps1

!/.vim/

!/.config/
/.config/*

!/.config/bspwm
!/.config/sxhkd
!/.config/zathura
!/.config/fish/
!/.config/nvim/

