# This is Git's per-user configuration file.
[user]
  name = PascalZh
  email = 1315521905@qq.com
[core]
  editor = nvim
[alias]
    lslog = log --decorate --graph --date=relative
[push]
	default = simple
[credential]
	helper = store
;[https]
;  proxy = https://192.168.31.88:8888
;[http]
;  proxy = http://192.168.31.88:8889
