/*

!/README.md

!/.gitignore
!/.gitconfig

!/.myshrc

!/.xmodmaprc

!/.tmux.conf.local.local

!/.compton.conf

!/.vim/

!/.config/
/.config/*

!/.config/bspwm
!/.config/sxhkd
!/.config/zathura
!/.config/fish/
!/.config/nvim/

